
body{
    margin: 0;
    padding: 0;
    background-color: blue;
}

.name{
    display: none;
    padding-left: 30.5rem;
    background-color: black;
    color: white;
    font-style: italic;
    position: sticky;
    
}

.navBar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    padding-left: 26%

}

.navBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navBar li{
    display: inline;
    list-style: none;
}

.navBar li a{
    display: inline-block;
    color: white;
    margin-right: 90px;
    text-decoration: none;
    border: none;
    padding: 8px 8px;
}

.navBar li a:visited{
    color: tomato;
}

.navBar li a:hover{
    color: white;
    background-color: blue;
    padding: 8px 8px;
    border-radius: 5px;
    
}

.audio{
    margin-top: 10px;
    padding-left: 38%;
    /* border: solid black; */
}

footer{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    margin-top: 100%;
    height: 30px;
   text-align: center;
    background-color: black;
}

.inp{
    /* border: solid black; */
    padding-top: 40px;
    padding-left: 35%;
}

label{
    color: white;
    display: block;
    margin-bottom: 7px;
}

.inp input{
    width: 40%;
    margin-bottom: 20px;
    padding: 15px;
}


